<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>ShareTalk</title>
</head>
<body>
    <h1>ShareTalk</h1>
    <% for(post of posts){ %> 
        <div class="post-card"> 
            <h2>@<%= post.user %> </h2>
            <h3><%= post.content %></h3>
           <div class="buttons">
            <a href="http://localhost:8080/posts/<%= post.id %>">
                <button>See in Detail</button>
            </a>
            <a href="http://localhost:8080/posts/<%= post.id %>/edit">
                <button>Edit Post</button>
            </a>
            <form method="post" action="http://localhost:8080/posts/<%= post.id %>/del?_method=DELETE">
                <button>Delete Post</button>
            </form>
           </div>
        </div>
    <% } %>
    <div class="footer">
        <a href="http://localhost:8080/posts/new">
            <button>Create New Post</button>
        </a>
    </div>
</body>
</html>
